# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PostgreSQL runtime connection
# Gunakan transaction pooler untuk Next.js/Vercel.
DATABASE_URL=

# PostgreSQL migration connection
# Gunakan session pooler atau direct connection untuk Drizzle Kit.
DATABASE_MIGRATION_URL=

# Supabase client
# Diaktifkan saat tahap Authentication dan Storage.
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Supabase server-only
# Jangan pernah menggunakan variabel ini di Client Component.
SUPABASE_SERVICE_ROLE_KEY=

# MineBot AI
# Diaktifkan saat tahap integrasi AI.
MINEBOT_API_KEY=